/* sidebar.css */

aside {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
                url('assets/images/background.jpg') center center/cover no-repeat;
    background-attachment: fixed;
}

aside img {
    transition: transform 0.4s ease;
}

aside img:hover {
    transform: scale(1.05);
}

aside a {
    color: #10b981;
    transition: color 0.3s;
}

aside a:hover {
    color: #34d399;
}
