/* timeline.css */

#timelineContainer {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 2rem;
    padding-bottom: 2rem;
    scroll-snap-type: x mandatory;
}

.timeline-card {
    scroll-snap-align: start;
    flex-shrink: 0;
}
